.home
{
	background-color: #F0F0F0;
}
.center
{
	text-align: center;
}
.iframepad
{
	padding: 2%;
}
.forma 
{
	padding-right: 45%;
	padding-left: 5px;
}
#errorMessage
{
	color: red;
}
#results
{
	padding: 1%;
}
#newshopform
{
	padding: 1%;
}
.success
{
	padding: 20px;
    background-color: green;
    color: white;
    border-radius: 15px 50px
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

#successMessage
{
	padding-left: 20%;
	padding-right: 20%;
}

.closebtn {
    margin-left: 2px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}